doctype html
html
	head
		title Canvas 		
		body
			div(style="width:#{pos.getWidth()};height:#{pos.getHeight()};position:absolute")
				each val in pos.pieces
					img(src="#{base}/#{val.pieceIndex}.png", alt="Not Found Image", style='left:#{val.x/2}px;top:#{val.y/2}px;position:absolute;width:#{val.user.x/2}px;height:#{val.user.y/2}px;-webkit-transform: rotate(#{rotation}deg);-moz-transform: rotate(#{rotation}deg);-ms-transform: rotate(#{rotation}deg);-o-transform: rotate(#{rotation}deg);transform: rotate(#{rotation}deg);')